h1 {
  text-align: center;
}
ol {
  font-size: 32px;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto ;
}
li {
  font-style: italic;
}
p,
pre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  border-bottom: 2px solid rgb(0, 0, 0);
}
body{
  text-align: center;
}
table{
  margin: 0 auto;
}